body
{
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    
}
.image{
    width: 100px;
    margin-top: 8px;
    padding: 14px;
}
.container{
    position: relative ;
    bottom: 50px;
    display: flex;
    margin: 20px;
    gap: 20px;
    justify-content: center;
    padding-left: 30px;
    
    
    
}
    
.acceuil{

    position: relative;
    bottom: 10px;
    
}
.presentation{
    position: relative;
    bottom: 10px;
    
}
.nosoffres{
    position: relative;
    bottom: 10px;
    
}
.contact{
    position: relative;
    bottom: 10px;
    
}
.texte{
    width: 300px;
    position: absolute;   
    right: 30px;
    background:  linear-gradient(90deg, #FF6600 0%, #42210B 100%);
    border-radius: 20px;
    padding : linear-gradient(90deg, #FF6600 0%, #42210B 100%);
    padding: 19px;
    border-radius: 12px;
    color: aliceblue ;
    bottom:1px;     
}
.div{
      
     justify-content: center;
    
     align-items: center;
     justify-items: center;
     padding: 60px; 
     border-radius: 45px;
     margin-right: 50px;
     margin-left: 50px;
     margin-top: 10px;
     background: rgb(255, 121, 32);
     background: url("./tf.png") no-reapeat;
     
}
.p{
    letter-spacing: 2px;
    color: white;
}
.b{
    letter-spacing:1px  ;
    color: white;
    
    margin: 10px;
    padding: 12px;
    background-color: lab(60.34% 39.43 58.46);
}

.trans{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
}
.photo{
    width: 400px;
    height: 300px;
    position: relative;
    top: 50px;
    
}
  .h1{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 30px;
    font-weight: 500;
    margin-left: 30px;
  }
.document{
    display: flex;
    flex-direction: row;
    gap: 400px;
    background-image: url('tf.png');
    background-repeat: no-repeat;
    background-position: center;

    
    
}
.gb{
     background-color: aliceblue;
    
}
.flex{
    border: 1px solid #ed8032;
    padding: 15px 7px ;
    margin-left: 30px;
    font-weight: bold;
    
    
    
} 
.padi{
     
     padding: 35px;
     width: 130%;
       background-color: aliceblue;

     
}
.titre{
    color: #ed8032;
}
.la{
   border: 1px solid #ed8032;
    padding: 15px 7px ;
    margin-left: 30px;
    font-weight: bold;
}
.le{
border: 1px solid #ed8032;
    padding: 15px 7px ;
    margin-left: 30px;
    font-weight: bold;
}
.les{
   border: 1px solid #ed8032;
    padding: 15px 7px ;
    margin-left: 30px;
    font-weight: bold;
}
.span{
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    padding:8px 3px;
    padding-left: 2px;
    background-color: black;
}
.jour{
    font-size: 25px;
     font-family: "Poppins", sans-serif;
    font-style: normal;
    padding:8px 3px;
    padding-left: 2px;
    background-color: black;
}
.tf{
    width: 300px;
    height: 300px;
    transform: scaleX(-1);
    padding-right: 10px;
    margin-left: 50px;
}
.pertes{
   display: flex;
   flex-direction: row;
   gap: 100px;
    background-image: url('tf.png');
    background-repeat: no-repeat;
    background-position: center;
    

   
}
.png{
      
}
.partie{
      padding-bottom: 20px;
      margin-top: 10px;
      background-color: aliceblue;
      
      padding: 25px;
      width: 70%;
    
      
      
    
}
.ce{
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 30px;
    font-weight: 500;
    margin-left: 30px;
}
.marche{
     
    border: 1px solid #ed8032;
    padding: 18px 7px ;
    margin-left: 30px;
    text-transform: uppercase;
    
    
}
.reduite{
   border: 1px solid #ed8032;
    padding: 18px 7px ;
    margin-left: 30px;
    text-transform: uppercase;

}
.attirer{
    border: 1px solid #ed8032;
    padding: 18px 4px ;
    margin-left: 30px;  
    text-transform: uppercase;
    
}
.manques{
    border: 1px solid #ed8032;
    padding: 18px 7px ;
    margin-left: 30px;
    text-transform: uppercase;
    
}
.drip{
    width: 150px;
}
.solution{
    height: 310px;
    justify-content: center;
    
    align-items: center;
    justify-items: center;
    padding: 20px;
    margin-left: 70px;
    margin-right:  70px;
    border-radius: 30px;
     background: rgb(255, 121, 32);
    
}
.click{
    margin-left: 120px;
    
    padding: 20px 15px;
    color: white;
    background-color: black;
    
    
}
.ul{
   
    display: flex;
    flex-direction: row;
    
    gap: 20px;
    padding :8px;
    background-color: hsl(25, 84%, 62%);
    
}
.un,.deux,.trois,.quatre{
    color: white;
}
.notre{
     font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 30px;
    font-weight: 500;
     margin-left: 60px;
}
.entreprise{
    display: flex;
    flex-direction: row;
    gap: 250px;
}
.votre,.vous{
     margin-left: 20px;
     text-transform: uppercase;
     font-weight: bold;
     color: #ed8032;
}
.proces,.competence{
       margin-left: 50px;
       border: 1px solid hsl(19, 65%, 50%);
       padding: 18px;
       border-radius: 30px;
       background-color: hwb(0 87% 13%);      
}
  .croissance{
     display: flex;
     flex-direction: row;
     gap:40px;
     margin-left: 40px;
     padding-right:90%;
     
     width:100%;
     padding: 54px;
     background: rgb(255, 121, 32);
  }
  .CA{
    
     padding: 23px 5px;
     padding-left: 30px;
     padding-right: 33px;
     background-color: white;
     border-radius: 30px;
  }
  .taux{
    
    padding: 35px;
    padding-left:15px ;
    padding-right: 80px;
    background-color: white;
    border-radius: 30px;
  }
  .mic{
      background-color: #ed8032;
      color: white;
      padding: 7px;
      padding-left: 10px;
      padding-right: 10px;
  }
  .niveau{
      width: 400px;
      height: 70%;
      margin-top: 20px;
      margin-left: 15px;
  }
  .etape{

        display: flex;
    flex-direction: row;
    gap: 160px;
    
    border-radius: 40px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 40px;
    background-color: ghostwhite;
  }
  .ca{
    color: #FF6600;
    font-family: "Poppins", sans-serif;
    font-style: normal;
     font-weight: 500;
  }
.dessus{
     text-transform: capitalize;
     font-family: "Poppins", sans-serif;
    font-style: normal;
     font-weight: 500;
}
.lien{
    color: #ed8032;
    padding-left: 15px;
}
.num{
    background-color: #FF6600;
    padding: 6px;
    color: white;
    margin-right: 8px;
    padding-right: 10px;
}
.offre{
    color: #ed8032;
}
.audit{

     font-weight: bold;
     
}
.valeur{
    color: #ed8032;
}
.om{
    
    padding: 15px;
    margin-right: 55px;
    color: white; 
     background:  linear-gradient(90deg, #FF6600 0%, #42210B 100%);
    border-radius: 20px;

}
.codii{
     padding-left: 30px;
     display: flex;
     flex-direction: row;
     gap: 420px;
}
.badge{
    width: 60px;
    margin-top: 10px;
    border: 8px solid hwb(24 88% 6%);
    padding: 15px;
    border-radius: 50px;
}
.lo{
    font-weight: bold;
}
.gas{
    width: 20px;
    margin-left: 10px;
    padding: 3px;
    background-color: white;
    border-radius: 15px;
}
.SI{
    margin-left: 40px;
    color: #ed8032;
    text-transform: capitalize;
}
.EL{
   margin-bottom: 50px;
}
.fils{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    /* margin-left: 15px;
    margin-right: 15px; */
}
.ex{
   color: white;

   padding: 40px;
   background-color: #FF6600;
   border-radius: 20px;
}
.smet{
    
    padding: 28px;
    border-radius: 40px;
    background-color: #ffffff;

}
.group{
    width: 5%;
    height: 5%;
    position: relative;
    top: 180px;
}




/* partie finALE */
.www{
    width: 480px;
    position: relative;
    margin-bottom: 100px;
    
}
.sommet{
      font-style: normal;
    font-size: 30px;
    font-weight: 500;
    color: white;
    position: relative;
    top: -200px;
    margin-left: 70px;
}
.fa-solid{
    color: white;
    position: relative;
    top: -200px;
    margin-left: 50px ;
}
.potoo{
      font-style: normal;
    font-size: 40px;
    font-weight: 500;
    color: white;
}
.finale{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: white;
}
.type{
    border: 1px solid white;
    padding: 18px;
    border-radius: 5px;
    width: 65%;

}
.kaka{
     border: 1px solid white;
    padding: 18px;
    border-radius: 5px;
    width: 115%;
}
.buttone{
     background-color: black;
     padding: 18px;
     border-radius: 5px;
     width: 135% ;
     color: white;
}
.misterr{
    display: flex;
    flex-direction: row;
    width: 105%;
    gap: 40px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: rgba(255, 102, 0, 1);
}
.grande{
    display: flex;
    flex-direction: row;  
}
.papie{
    position: relative;
    top: 111px;
}
.sissi{
    color: white;
    position: relative;
    top: -200px;
    
}
.happy{
    text-align: center;
    margin-left: 300px;
    position: relative;
    top: -80px;
    color: white;

}